<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ title }}</title>
        {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {# <link rel="stylesheet" href="static/css/style.css"> #}
		<link rel="stylesheet" type="text/css" href="assets/css/prologue.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	</head>
<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
                            {% include "partials/logo.njk" %}
						</div>

					<!-- Nav -->
						<nav id="nav">
                            {% include "partials/nav.njk" %}
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
                    {% include "partials/socials.njk" %}

				</div>

			</div>

            {{ content | safe }}

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Joe Karow. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>







</html>