.jkname {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Shadows Into Light', cursive;
    font-size: 150px;
    color: #3D315B;
    /* padding: 0px 0px 100px 0px; */
    display: block;
}
.memoji {
    float: left;
    height: 150px;
    /* border-radius: 50%; */
    padding: 0px 10px 0px 50px;
}
.undername {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    color: #444B6E;
    padding: 0px 0px 0px 225px;
}

body {
    background: #239EAB;
    background: linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    background: -moz-linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    background: -webkit-linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#239EAB", endColorstr="#74DEEE", GradientType=1 ); */
}
.placeholder {
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Without this, the center point is based off of the left margin of the section. This brings the point to the center of the element */
}
.social {
    height: 40px;
    font-size: unset;
    /* clear: left; */
    /* position: unset; */
    display: flex;
    /* flex-direction: row; */
    padding: 50px 0px 0px 0px;
    justify-content: center;
}
.social img {
    /* height: 32px;    */
    padding: 0px 25px 0px 0px;
}