body {
    background: #239EAB;
    background: linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    background: -moz-linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    background: -webkit-linear-gradient(to right bottom, #239EAB, #74DEEE) fixed;
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#239EAB", endColorstr="#74DEEE", GradientType=1 ); */
    height: 100vh;
    width: 100vw;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
* {
    box-sizing: border-box;
}
/* * {
    outline: 1px solid red;
} */

.container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex: 1;
}

.groupItem {
    /* display: inline-block; */
    /* vertical-align: top; */
    max-height: 150px;
    justify-content: center;
}
.group {
    width: 100%;
    display: flex;
    /* flex-direction: unset; */
    /* justify-content: space-around; */
    justify-content: center;
    /* justify-self: center; */
    align-items: center;
}
#headLogo {
    /* width: 25%; */
    /* height: 100%; */
    max-height: 150px;
    max-width: 150px;
    width: 15vw;
    height: auto;
    order: 1;
    justify-content: unset;
}
.jkname {
    font-family: 'Shadows Into Light', cursive;
    font-size: min(150px, 15vw);
    max-height: 150px;
    color: #3D315B;
    order: 2;
}
.undername {
    font-family: 'Roboto', sans-serif;
    font-size: min(25px, 6vw);
    /* max-size: 25px; */
    font-weight: 100;
    font-style: italic;
    color: #444B6E;
    /* padding: 0 min(150px, 8.5vw) 0 0; */
}
.social {
    /* max-height: 64px; */
    font-size: unset;
    margin: 25px 0;
}
.social img {
    /* height: 32px;    */
    padding: 0px 25px 0px 0px;
    max-width: 64px;
    min-width: 32px;
    width: min(64px, 30vw);
    height: auto;
    /* object-fit: scale-down; */
}