@import 'libs/breakpoints';
	@include breakpoints((
		wide:      ( 961px,  1880px ),
		normal:    ( 961px,  1620px ),
		narrow:    ( 961px,  1320px ),
		narrower:  ( 737px,  960px  ),
		mobile:    ( null,   736px  ),
	));

#top { 
    position: relative;
    opacity: 100%;
    footer {
    margin: 0 auto;
    margin-top: 40%;
    display: flex;
    justify-content: space-between;
    @include breakpoint('<=wide'){
        max-width: 30rem;
    }
    @include breakpoint('<=narrower') {
            margin-top: 25%;
            padding: 0 1em;
        }
    }
    header *{
        @include breakpoint('<=narrower') {
            padding: 0.5rem 0;
        }
    }
    &:before {
        content: "";
        // display: block;
        position: absolute;
        background-image: url('/static/img/banner1.jpeg');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        height: 110vh;
        min-width: 100%;
        opacity: 0.4;
    }
    h2,h3,strong {
        text-shadow: #888 1px 0 1px;
        font-weight: 400;
        color: #111 !important;
    }
}
.subcontainer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-row: auto auto;
    grid-row-gap: 3rem;
    justify-content: space-around;
    @include breakpoint('<=narrower') {
        grid-template-columns: 100%;
        max-width: 75%;
        margin: 2rem auto 0 auto;
        grid-row-gap: 1.5rem;
    }
}
.block {
    display: block;
}
.icon-lg {
    font-size: 3.5rem;
    line-height: 5rem;
}
.stack {
    width: 75%;
    @include breakpoint('<=narrower') {
        flex-direction: column;
        a {
            margin-bottom: 2rem;
        }
    }
}
#top .container::before {
    overflow: hidden;
    
}

.bgFaded {
    position: absolute;
    height: 110vh;
    min-width: 100vw;
    opacity: 40%;
    overflow: hidden;
    object-fit:cover;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.grid3x {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-row: auto;
    grid-auto-rows: minmax(10rem, auto);
    gap: 2rem;
    margin: 0 auto;
    .item {
        display: flex;
        flex-direction: column;
        position:relative;
        .details {
            padding: 1rem;
            background: #fff;
            @include breakpoint('>narrow') {
                position: absolute;
                left: 2.5%;
                top: 50%;
                transform: translate(0, -50%);
                max-height: 95%;
                max-width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            h3 {
                font-size: 2rem;
            }
            p,li,ul{
                font-size: 1rem;
                line-height: 1.75rem;
                text-align: start;
            }
        }
    }

    @include breakpoint('<=narrow') {
        grid-template-columns: 1fr;
    }
}