<div class="fixed bottom-3 right-3 p-2 bg-blue-200 rounded-md">
	<span class="sm:hidden">xs-mobile</span>
	<span class="hidden sm:block md:hidden">sm-tablet</span>
	<span class="hidden md:block lg:hidden">md</span>
	<span class="hidden lg:block xl:hidden">lg</span>
	<span class="hidden xl:block 2xl:hidden">xl</span>
	<span class="hidden 2xl:block">2xl+</span>
</div>