---
layout: default
title: joekarow.dev
path: home
---


	<body class="is-preload landing">


			
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Hello, I'm Joe!</h2>
							<p>We're in the future and there are no hoverboards or flying cars.<br />
							Just apps. Lots and lots of apps.</p>
							<h3 class="py-8">Let's make one together!</h3>
						</header>
						<span class="image"><img src="assets/img/memoji.png" alt="" /></span>
					</div>
					<a href="#One" class="goto-next scrolly">Next</a>
				</section>
			{{ "include projects" | log }}
			{% include "./_includes/partials/project.njk" %}

			

		