---
layout: prologueMain
title: Joe Karow
path: home
description: Joe Karow is a full stack software engineer who freelances and is pretty amazing.
---

<!-- Main -->
<div id="main">
	<!-- Intro -->
	<section id="top" class="one dark cover">
		<div class="container">
			<header>
				<h2 class="alt">Hi! I'm <strong>Joe</strong>, <span> a full stack software engineer</span><span> based in the Washington, DC metro area.</span></h2>
				<h3>I build beautiful, responsive web applications.</h3>
			</header>
			<footer class="stack">
				<a href="#scrollTwo" id="" class="btnFreelance button scrolly">I need a site.</a>
				<a href="#scrollTwo" id="" class="btnDev button scrolly">I need a dev.</a>
			</footer>
		</div>
	</section>
    <span id="scrollTwo"></span>
	<!-- Freelance -->
	<section id="freelance" class="two">
		<div class="container">
			<header>
				<h2>First impressions matter.</h2>
				<strong>Is your website letting you down?</strong>
			</header>
        	<div class="bodytext">
				<p>Modern customers expect a mobile-friendly, responsive, and accessible site. Every business - from sole proprietors to large corporations- needs one. Does yours meet the mark?</p>
	            <p>I can help you and your business build a strong online presence, as well as suggest and implement various technology solutions to streamline your operations. Having the right tools can save you hours of time and push more money to your bottom line.</p>
    	    </div>
        	<h3>Ready to get started?</h3>
            <span>Here's my process:</span>
            <div class="subcontainer">
            	<div>
            		<h4>Step 1:</h4>
            		<i class="icon icon-lg block solid fa-comment-dots"></i>
            		<strong>Consultation</strong>
            		<p>It all begins with a conversation where we'll pinpoint what this project is all about.</p>
            	</div>
          		<div>
            		<h4>Step 2:</h4>
            		<i class="icon icon-lg block solid fa-file-invoice-dollar"></i>
            		<strong>Proposal</strong>
		            <p>A detailed project proposal including a visual preview will be presented and a plan of action will be decided.</p>
        		</div>
          		<div>
        		<h4>Step 3:</h4>
            		<i class="icon icon-lg block solid fa-wand-magic-sparkles"></i>
            		<strong>Creation</strong>
	                <p>You'll receive regular updates regarding their project status while I create and test it.</p>
    		    </div>
          		<div>
            		<h4>Step 4:</h4>
            		<i class="icon icon-lg block solid fa-champagne-glasses"></i>
            		<strong>Launch</strong>
            		<p>Your site goes live and we have a little celebration!</p>
          		</div>
        	</div>
            <span class="centered"><a href="#dev" class="scrolly next"><i class="fa-solid fa-angle-down"></i></a></span>
		</div>
	</section>
<!-- Dev -->
    <section class="three" id="dev">
        <div class="container">
        	<header>
            	<h2>Why do you like telling computers what to do?</h2>
        	</header>
        	<div class="contentDev">
            	<img class="rightJ rounded" src="/static/img/tandy1000rl.jpeg" alt="Tandy 1000RL vintage advertisement">
            	<p>Ever since I was young, I've messed around with computers. It all started with a Tandy 1000RL from Radio Shack. I spent hours trying to install Windows 2.0 on it, but I think disk #4 was corrupted. Fast forward to 1996 - I managed to dual boot Slackware Linux alongside Windows 95, without accidentally formatting over it! Around that time, I also ventured in to the world of web development. The first website I made was a "Java Enhanced" Simpsons fan site hosted on AOL. It was full of unnessessary java applets and way too many GIFs (I even got a copyright takedown notice from Sun Microsystems for using an image of the Java mascot, Duke).</p>
            	<p>After many years and a sucessful career in the hotel industry, where creative problem solving is a daily occurance, I've decided to return to my first love. Once I started developing for the web again, the joy and the excitement of that awful Simpsons fan site came rushing back.</p>
            	<span>These are some of my current favorite technogies to work with:</span>
            	<ul>
            	  <li><i class="fa-solid fa-desktop"></i> <strong>Frontend:</strong> React, HTML5/CSS3, Vanilla JS, 11ty, TailwindCSS, Bootstrap</li>
            	  <li><i class="fa-solid fa-server"></i> <strong>Backend:</strong> Node.js, Express.js, MongoDB, Mongoose, PostgreSQL</li>
            	</ul>
            	<span class="centered">Continue scrolling down to see how far I've come!</span>
            	<span class="centered"><a href="#portfolio" class="scrolly next"><i class="fa-solid fa-angle-down"></i></a></span>
          	</div>
        </div>
    </section>
<!-- Portfolio -->
	<section id="portfolio" class="four">
		<div class="container">
			<header>
				<h2>Latest Projects</h2>
			</header>
			<p>Here's a few of the latest things I've been working on.</p>
			<div class="grid3x">
				<article class="item">
					<a href="https://doggy-daycare.netlify.app/" target="_blank" class="image fit"><img src="static/img/doggydaycare.jpg" alt="Screenshot of Your Local Doggy Daycare" /></a>
					<div class="bgfade">
						<div class="details">
							<h3>Your Local Doggy Daycare</h3>
							<p>A static website for a local doggy daycare business</p>
							<ul>Technologies used:
								<li>HTML</li>
								<li>CSS/Sass</li>
								<li>Vanilla JS</li>
								<li>jQuery</li>
							</ul>
							<div>
								<a href="https://doggy-daycare.netlify.app/" target="_blank" class="button btnSmall">Live Site</a>
								<a href="https://github.com/JoeKarow/portfolio-doggydaycare" target="_blank" class="button btnSmall">Source Code</a>
							</div>
						</div>
					</div>
				</article>
				<article class="item">
					<a href="https://ashley-jones.netlify.app/" target="_blank" class="image fit"><img src="static/img/ashleyjones.jpg" alt="Screenshot of Your Ashley Jones Interiors" /></a>
					<div class="bgfade">
						<div class="details">
							<h3>Ashley Jones Interiors</h3>
							<p>A portfolio site for a Washington, DC based interior designer.</p>
							<ul>Technologies used:
								<li>HTML</li>
								<li>CSS/Sass</li>
								<li>Vanilla JS</li>
								<li>jQuery</li>
							</ul>
							<div>
								<a href="https://ashley-jones.netlify.app/" target="_blank" class="button btnSmall">Live Site</a>
								<a href="https://github.com/JoeKarow/portfolio-interiordesign" target="_blank" class="button btnSmall">Source Code</a>
							</div>
						</div>
					</div>
				</article>
				<article class="item">
					<a href="https://berlin-exhibit.netlify.app/" target="_blank" class="image fit"><img src="static/img/berlinexhibit.jpg" alt="Screenshot of Europäisches Straßenleben" /></a>
					<div class="bgfade">
						<div class="details">
							<h3>Europäisches Straßenleben</h3>
							<p>A teaser site for a travelling street art exhibit in Berlin</p>
							<ul>Technologies used:
								<li>HTML</li>
								<li>CSS/Sass</li>
								<li>Vanilla JS</li>
								<li>jQuery</li>
							</ul>
							<div>
								<a href="https://berlin-exhibit.netlify.app/" target="_blank" class="button btnSmall">Live Site</a>
								<a href="https://github.com/JoeKarow/portfolio-berlinexhibit" target="_blank" class="button btnSmall">Source Code</a>
							</div>
						</div>
					</div>
				</article>
			</div>
			<span class="centered"><a href="#contact" class="scrolly next"><i class="fa-solid fa-angle-down"></i></a></span>
		</div>
	</section>
<!-- Contact -->
	<section id="contact" class="three">
		<div class="container">
			<header>
				<h2>Get in touch!</h2>
			</header>
			<p>I'm currently accepting new freelance clients, exciting project opportunities, and good vibes.</p>
			<form name="contact"
						netlify
						netlify-honeypot="honey"
						data-netlify="true">
				<div class="row">
					<div class="col-6 col-12-mobile hidden"><input type="text" name="honey" placeholder="Don't fill this out if you're a real person." /></div>
					<div class="col-6 col-12-mobile"><input enterkeyhint="next" autocomplete="name" required type="text" name="name" placeholder="Name" /></div>
					<div class="col-6 col-12-mobile"><input enterkeyhint="next" autocomplete="email" required type="text" name="email" placeholder="Email" /></div>
					<div class="col-12">
						<textarea name="message" required placeholder="Message"></textarea>
					</div>
					<div class="col-12">
						<input type="submit" value="Send Message" />
					</div>
				</div>
			</form>
		</div>
	</section>
</div>