---
layout: prologueMain
title: Joe Karow
path: home
description: Joe Karow is a full stack software engineer who freelances and is pretty amazing.
---

<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
              {# <img src="/static/img/banner1.jpeg" class="bgFaded" alt=""> #}
							<header>
								<h2 class="alt">Hi! I'm <strong>Joe</strong>, <br /> a full stack software engineer.</h2>
								<h3>I build beautiful, responsive web applications. <br />
								</h3>
							</header>

							<footer class="stack">
								<a href="#scrollTwo" id="btnFreelance" class="btnFreelance button scrolly">I need a site.</a>
								<a href="#scrollTwo" id="btnDev" class="btnDev button scrolly">I need a dev.</a>
							</footer>

						</div>
					</section>

        <span id="scrollTwo"></span>
				<!-- Freelance -->
					<section id="freelance" class="two sectionTwo sectionTwoVisible">
						<div class="container">

							<header>
										<h2>First impressions matter.</h2>
										<strong>Is your website letting you down?</strong>
							</header>

							{# <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a> #}
              <div class="bodytext">
							  <p>Modern customers expect a mobile-friendly, responsive, and accessible site. Every business - from sole proprietors to large corporations- needs one. Does yours meet the mark?</p>
                <p>I can help you and your business build a strong online presence, as well as suggest and implement various technology solutions to streamline your operations. Having the right tools can save you hours of time and push more money to your bottom line.</p>
              </div>
              <h3>Ready to get started?</h3>
              <span>Here's my process:</span>
              <div class="subcontainer">
              <div>
                <h4>Step 1:</h4>
                <i class="icon icon-lg block solid fa-comment-dots"></i>
                <strong>Consultation</strong>
                <p>It all begins with a conversation where we'll pinpoint what this project is all about.</p>
              </div>
              <div>
                <h4>Step 2:</h4>
                <i class="icon icon-lg block solid fa-file-invoice-dollar"></i>
                <strong>Proposal</strong>

                <p>A detailed project proposal including a visual preview will be presented and a plan of action will be decided.</p>
              </div>
              <div>
                <h4>Step 3:</h4>
                <i class="icon icon-lg block solid fa-wand-magic-sparkles"></i>
                <strong>Creation</strong>

                <p>You'll receive regular updates regarding their project status while I create and test it.</p>
              </div>
              <div>
                <h4>Step 4:</h4>
                <i class="icon icon-lg block solid fa-champagne-glasses"></i>
                <strong>Launch</strong>
                <p>Your site goes live and we have a little celebration!</p>
              </div>
              </div>
						</div>
					</section>

        <!-- Dev -->
          <section class="two sectionTwo" id="dev">
            <div class="container">
              <header>
                <h2>Why do you like telling computers what to do?</h2>
              </header>
              <div class="contentDev">
                <img class="rightJ rounded" src="/static/img/tandy1000rl.jpeg" alt="Tandy 1000RL vintage advertisement">
                <p>Ever since I was young, I've messed around with computers. It all started with a Tandy 1000RL from Radio Shack. I spent hours trying to install Windows 2.0 on it, but I think disk #4 was corrupted. Fast forward to 1996 - I managed to dual boot Slackware Linux alongside Windows 95, without accidentally formatting over it! Around that time, I also ventured in to the world of web development. My first website I made was a "Java Enhanced" Simpsons fan site hosted on AOL. It was full of unnessessary java applets and way too many GIFs (I even got a copyright takedown notice from Sun Microsystems for using an image of the Java mascot, Duke).</p>
                <p>After many years and a sucessful career in the hotel industry, where creative problem solving is a daily occurance, I've decided to return to my first love. Once I started developing for the web again, the joy and the excitement of that awful Simpsons fan site came rushing back.</p>
                <span>These are some of my current favorite technogies to work with:</span>
                <ul>
                  <li><i class="fa-solid fa-desktop"></i> <strong>Frontend:</strong> React, HTML5/CSS3, Vanilla JS, 11ty, TailwindCSS, Bootstrap</li>
                  <li><i class="fa-solid fa-server"></i> <strong>Backend:</strong> Node.js, Express.js, MongoDB, Mongoose, PostgreSQL</li>
                </ul>



                <span class="centered">Continue scrolling down to see how far I've come!</span>
                <span class="centered"><a href="#portfolio" class="scrolly"><i class="fa-solid fa-angle-down"></i></a></span>
              </div>


            </div>
          </section>



				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">

							<header>
								<h2>Latest Projects</h2>
							</header>

							<p>Here's a few of the latest things I've been working on.</p>

							{# <div class="row col-3 col-12-mobile"> #}
							<div class="grid3x">
									<article class="item">
										<a href="#" class="image fit"><img src="static/img/pic02.jpg" alt="" /></a>
										<div class="details">
                    	<h3>Project One</h3>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, explicabo?</p>
                      <ul>Technologies used:
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Tailwind</li>
                      </ul>

										</div>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="static/img/pic03.jpg" alt="" /></a>
										<div class="details">
                    	<h3>Project Two</h3>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, explicabo?</p>
                      <ul>Technologies used:
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Tailwind</li>
                      </ul>										</div>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="static/img/pic05.jpg" alt="" /></a>
										<div class="details">
                    	<h3>Project Three</h3>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, explicabo?</p>
                      <ul>Technologies used:
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>Tailwind</li>
                      </ul>										</div>
									</article>

								{# <div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div> #}
							</div>

						</div>
					</section>


				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Elementum sem parturient nulla quam placerat viverra
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>