<!-- Header -->
				<header id="header">
					<a href="/">{% include "./logo.njk" %}</a>
					<nav id="nav">
                        {{ navlinks | log }}
                            {# {% if navlinks.items %} #}
                            {{ "nav items true" | log }}
						    <ul>
                                {%- for item in navlinks.items %}
                                    {{"loop navitem" | log }}
                                    <li><a href="{{ item.url }}">{{ item.text}}</a>
                                        {%- if item.children %}
                                                {{ "loop subitem" | log }}
                                            <ul>{%- for subitem in item.children %}
                                                <li><a href="{{ subitem.url }}">{{ subitem.text}}</a>
                                                {%- endfor %}
                                            </ul>
                                        {%- endif %}
                                    </li>
                                {%- endfor %}
                            </ul>
                            {# {% endif %} #}
					</nav>
				</header>
