{% set projImg = cycler("left", "right") %}
{% set projOrder = cycler("One", "Two", "Three", "") %}
{{ projOrder.next() | log }}
{{ "generating projects" | log }}
{# {{ projects | log }} #}

{%- for item in projects.projects %}
    {{ "generating project {{ projOrder.current }}" | log }}
    <section id="{{ projOrder.current }}" class="spotlight style2 {{ projImg.next() }}">
		<span class="image fit main"><img src="{{ item.screenshot }}" alt="" /></span>
		<div class="content">
			<header>
				<h2>{{ item.title }}</h2>
			</header>
			<p>{{ item.desc }}</p>
			<ul class="actions">
				<li><a href="{{ item.live }}" class="button primary">Live Demo</a></li>
				<li><a href="{{ item.code }}" class="button">Source Code</a></li>
			</ul>
		</div>
		<a href="#{{ projOrder.next() }}" class="goto-next scrolly">Next</a>
	</section>

{%- endfor %}